<div id="header">
    <div class="header-top">
        <img src="htulogo.png" height="30px" width="30px">
        <a href="/curriculum"><div class="title">Techccelerator Hub</div></a>
        <div class="profile">
            <img src="<%= userData.avatar_url %>" height="30px" width="30px">
            <div class="login-out"><%= userData.name %></div>
        </div>
    </div>
    <div class="header-nav">
        <% tabData.tabs.forEach(t => { %>
            <% var activeClass = (tabData.activeTab === t) ? 'active-tab' : '' %>
            <a href="/<%= t %>"><div class="nav-tab <%= activeClass %>"><%= t.replace("-", " ") %></div></a>
        <% }) %>
    </div>
</div>