<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <script src="js/index.js"></script>
    <script src="https://kit.fontawesome.com/dcbd972c7e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <div id="header">
            <div class="header-text">
                <img src="htulogo.png" height="30px" width="30px">
                <a href="/"><div class="title">Pre-Techccelerator</div></a>
                <div class="profile">
                    <img src="<%= avatar_url %>" height="30px" width="30px">
                    <div class="login-out"><%= name %></div>
                </div>
            </div>
        </div>
        <div id="sidebar">
            <%- include('partials/sidebar', {section, sections, page}) %>
        </div>
        <div id="main">
            <% if (page === "intro") { %>
                <%- include('partials/intro', {fullName}) %>
            <% } else { %>
                <%- include('partials/page', {page, generateBackLink, generateNextLink, sections, sectionInfo, subSectionInfo}) %>
            <% } %>
        </div>
    </div>
</body>
</html>