<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <script src="js/index.js"></script>
    <script src="https://kit.fontawesome.com/dcbd972c7e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <%- include('partials/header', {userData: {name: "lolol", avatar_url: "none"}, activeTab: "pt"}) %>
        <div id="sidebar">
            <%- include('partials/sidebar', {section, sections, page}) %>
        </div>
        <div id="main">
            <% if (page === "intro") { %>
                <%- include('partials/intro', {fullName}) %>
            <% } else { %>
                <%- include('partials/page', {page, generateBackLink, generateNextLink, sections, sectionInfo, subSectionInfo}) %>
            <% } %>
        </div>
        
    </div>
    <%- include('partials/footer') %>
</body>
</html>